extends layout

block content
    div.row
        form.col-sm-8.offset-2(action='/' method='post')
            div.form-group
                label(for="message") Message
                    span.text-danger.text-small
                        small &nbsp; *Either encyrpted or decrypted
                textarea.form-control(name='message') #{message}
            div.form-group
                label(for="passphrase") Passphrase
                input.form-control(name='passphrase' type='password')
            div.form-group
                label(for="recipient") Recipient
                    span.text-danger.text-small
                        small &nbsp; *Required for encrpyting
                select.form-select(name='recipient' type='text')
                    option
                    each rec in recipients
                        option(value=rec)= rec


            hr
            div.btn-group
                button.btn.btn-primary(name='encrypt' value='encypt') Encrypt
                button.btn.btn-secondary(name='decrypt' value='decrypt') Decrypt
