prepend page
  - message = message


doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css')
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js")
  body.bg-dark.text-light
    div.container-fluid
      nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
        div.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item.active
              a.nav-link(href="/") Encrypt/Decrypt
            li.nav-item
              a.nav-link(href="/add-keys") Add Keys

    div.errors
      - if (typeof(errors) !== 'undefined'){
        each error in errors
          div.alert.alert-danger= error
      - }
      block content
